@horizontal: ~"(min-aspect-ratio: 4/3)";
@square: ~"(max-aspect-ratio: 4/3) and (min-aspect-ratio: 3/4)";
@vertical: ~"(max-aspect-ratio: 3/4)";
@mobileHorizontal: ~"(min-aspect-ratio: 1/1) and (max-height: 480px)";

@white: #FFFFFF;
@gray: #7E7D77;
@darkGray: #333333;
@mediumGray: #DDDAD7;
@lightGray: #F5F5F5;
@blue: #7382EC;
@green: #D5FD74;
@pink: #FFEFDF;

html {
  overflow: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-height: calc(var(--1dvh, 1vh) * 100);
  max-height: calc(var(--1dvh, 1vh) * 100);
  min-width: 100dvw;
  min-height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
  touch-action: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

#hiddenContent {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  min-width: 1920px;
  min-height: 1080px;
  max-width: 1920px;
  max-height: 1080px;

  @media @square {
    min-width: 1080px;
    min-height: 1080px;
    max-width: 1080px;
    max-height: 1080px;
  }

  @media @vertical {
    min-width: 320px;
    min-height: 568px;
    max-width: 320px;
    max-height: 568px;
  }
}

.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 64px;
  min-width: 64px;
  border-radius: 32px;
  gap: 26px;
  margin: 0;
  padding: 0 32px;
  color: @darkGray;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  background: transparent;

  &.blue {
    color: @white;
    background: @blue;

    &.border {
      color: @blue;
      background: transparent;
      border: 1px solid @blue;
    }
  }

  &.white {
    background: @white;
    color: @blue;
  }

  @media @square {
    padding: 0 28px;
  }

  @media @vertical {
    height: 40px;
    min-width: 40px;
    border-radius: 20px;
    font-size: 14px;
    padding: 0 10px;
  }

  &.big {
    height: 92px;
    min-width: 92px;
    padding: 0 85px;
    font-size: 40px;
    border-radius: 70px;

    @media @square {
      font-size: 30px;
    }

    @media @vertical {
      height: 50px;
      min-width: 50px;
      border-radius: 25px;
      font-size: 14px;
      padding: 0 50px;
    }
  }
}

.eye {
  position: relative;
  background-color: @green;
  background-image: url(/media/image/eye.svg);
  background-position: 50% 10px;
  background-size: 50%;
  width: 128px;
  height: 90px;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 30px @green;
  cursor: pointer;
  z-index: 1000;
  font-size: 10px;
  transform: translate(-50%, -38%);

  &:after {
    content: "посмотреть";
    color: @blue;
    position: absolute;
    left: 0;
    bottom: 9%;
    font-size: inherit;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 0;
  }

  @media @vertical {
    width: 62px;
    height: 44px;

    &:after {
      display: none;
    }
  }
}

.dots {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  margin-right: auto;

  .dot {
    background: @green;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50%;
  }
}

.headerWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transform-origin: top;

  .header {
    opacity: 0;
    transition: opacity 0.1s;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    padding: 32px 54px 0;
    min-width: 1920px;
    max-width: 1920px;
    transform-origin: top;

    @media @square {
      padding: 32px 32px 0;
      min-width: 1080px;
      max-width: 1080px;
      justify-content: space-between;
    }

    @media @vertical {
      padding: 20px 20px 0;
      min-width: 320px;
      max-width: 320px;
      justify-content: space-between;
    }

    .logo {
      width: 147px;
      height: 20px;
      margin-right: 40px;
      cursor: pointer;

      @media @square {
        width: 246px;
        height: 32px;
      }

      @media @vertical {
        width: 130px;
        height: 16px;
      }
    }

    .button {
      img {
        width: 32px;
        height: 32px;

        @media @square {
          width: 36px;
          height: 36px;
        }

        @media @vertical {
          width: 20px;
          height: 20px;
        }
      }
    }

    .catalog {
      margin-right: auto;
      width: 200px;

      @media @square {
        margin-right: 0;
        height: 76px;
        width: 76px;
        padding: 0;
        border-radius: 38px;

        span {
          display: none;
        }
      }

      @media @vertical {
        margin-right: 0;
        width: auto;

        span {
          display: none;
        }
      }
    }
  }
}

.contentWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-height: calc(var(--1dvh, 1vh) * 100);
  max-height: calc(var(--1dvh, 1vh) * 100);
  min-width: 100dvw;
  min-height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;

  .content {
    opacity: 0;
    transition: opacity 0.1s;
    position: relative;
    min-width: 1920px;
    min-height: 1080px;
    max-width: 1920px;
    max-height: 1080px;
    transform-origin: bottom;

    @media @square {
      min-width: 1080px;
      min-height: 1080px;
      max-width: 1080px;
      max-height: 1080px;
    }

    @media @vertical {
      min-width: 320px;
      min-height: 568px;
      max-width: 320px;
      max-height: 568px;
    }
  }

  &.center {
    align-items: center;

    .content {
      transform-origin: center;
    }
  }

  &.top {
    align-items: flex-start;

    .content {
      transform-origin: top;
    }
  }
}

.modal {
  opacity: 1;

  .block {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    opacity: 0;
    position: absolute;
    background: @white;
    bottom: 100%;
    border-radius: 16px;
    padding: 30px;

    @media @vertical {
      border-radius: 8px;
      padding: 20px;
    }

    .blockTitle {
      color: @blue;
      font-size: 24px;
      font-weight: 800;
      line-height: 1.15;
      letter-spacing: 0.48px;
      text-transform: uppercase;

      @media @vertical {
        font-size: 16px;
      }
    }

    .blockContent {
      color: @darkGray;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;

      @media @vertical {
        font-size: 14px;
      }
    }
  }

  &.open {
    z-index: 100;
    top: 0;
  }

  &:not(.open) {
    transition: z-index 0s 2s;

    .content {
      transform-origin: bottom;
    }
  }

  &.preloader {
    background: @mediumGray;
    transition: opacity 1s;

    &:not(.open) {
      display: none;
      transition: opacity 1s, z-index 0s 2s;
    }

    .preloaderImage {
      opacity: 0;
      position: absolute;
      width: 826px;
      height: 987px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 0.1s;

      @media @vertical {
        height: 351px;
        width: 294px;
      }
    }

    .preloaderRound {
      position: absolute;
      background: @green;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      top: calc(50% + 150px);
      left: calc(50% - 1px);
      transform: translate(-50%, -50%);
      transition: width 0.5s, height 0.5s;

      @media @vertical {
        width: 2px;
        height: 2px;
        top: calc(50% + 125px);
      }
    }

    .preloaderVideo {
      width: 900px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 0.3s;

      @media @vertical {
        width: 100%;
        top: unset;
        bottom: 0;
      }
    }

    .preloaderText {
      opacity: 0;
      position: absolute;
      color: @blue;
      font-size: 142px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: 2.84px;
      text-transform: uppercase;
      top: calc((100% - 142px) / 2);

      @media @square {
        font-size: 100px;
        letter-spacing: 2px;
        top: calc((100% - 100px) / 2);
      }

      @media @vertical {
        font-size: 48px;
        letter-spacing: 0.96px;
        top: calc((100% - 48px) / 2);
      }
    }

    .button {
      color: @darkGray;
      position: absolute;
      width: 382px;
      transform: translateX(-50%);
      left: 50%;
      bottom: -100px;
      transition: bottom 0.3s 0.3s, width 0.3s 0.3s, height 0.3s 0.3s;

      @media @vertical {
        transition: bottom 0.3s, width 0.3s;
      }

      @media @square {
        transition: bottom 0.3s, width 0.3s;
      }
    }

    &.videoEnd {
      .preloaderVideo {
        opacity: 0;
      }

      .preloaderImage {
        opacity: 1;
      }

      .preloaderRound {
        height: 890px;
        width: 890px;

        @media @vertical {
          height: 300px;
          width: 300px;
        }
      }

      .button {
        bottom: 310px;

        @media @vertical {
          width: auto;
          bottom: 175px;
        }
      }
    }
  }

  &.menu {
    background: @blue;
    top: unset;
    bottom: 100%;
    transition: bottom 0.3s;

    &:not(.open) {
      transition: bottom 0.3s, z-index 0s 2s;
    }

    .headerWrapper {
      display: none;
    }

    .content {
      display: flex;
      flex-flow: row nowrap;
    }

    .navigator {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      color: @white;
      font-size: 55px;
      font-weight: 600;
      line-height: 1.44;
      text-transform: uppercase;
      padding: 200px 135px 0 260px;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s 0.3s;

      @media @square {
        padding: 180px 32px 0;
        font-size: 48px;
        line-height: 1.33;
      }

      @media @vertical {
        padding: 100px 20px 0;
        font-size: 14px;
        line-height: 2.1;
      }

      .navButton {
        cursor: pointer;
        transition: opacity 0.2s;
      }
    }

    .menuHintContentWrapper {
      background: @green;
      position: absolute;
      top: 0;
      left: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      min-width: 100vw;
      min-height: 100vh;
      max-width: 100vw;
      max-height: 100vh;
      min-height: calc(var(--1dvh, 1vh) * 100);
      max-height: calc(var(--1dvh, 1vh) * 100);
      min-width: 100dvw;
      min-height: 100dvh;
      max-width: 100dvw;
      max-height: 100dvh;

      @media @square {
        display: none;
      }

      @media @vertical {
        display: none;
      }

      .menuHintContent {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-width: 534px;
        min-height: 1080px;
        max-width: 534px;
        max-height: 1080px;

        & > img {
          max-width: 412px;
          max-height: 710px;
        }
      }

      &.conference img {
        transform: rotate(25deg);
      }

      &.welcome .boxWrapper {
        position: relative;
        width: 412px;
        height: 550px;

        .box {
          position: absolute;
          bottom: 0;
          left: calc((100% - 412px) / 2);
          width: 412px;
          height: 284px;
        }

        .badge {
          position: absolute;
          bottom: 145px;
          left: calc(((100% - 412px) / 2) + 80px);
          width: 100px;
          height: 110px;
          transform: rotate(-46deg);
        }

        .note {
          position: absolute;
          bottom: 42px;
          left: calc(((100% - 412px) / 2) + 85px);
          width: 100px;
          height: 132px;
        }

        .tShirt {
          position: absolute;
          bottom: 42px;
          right: calc(((100% - 412px) / 2) + 50px);
          width: 160px;
          height: 200px;
        }

        .boxCover {
          position: absolute;
          top: 0;
          left: calc((100% - 412px) / 2);
          width: 412px;
          height: 284px;
        }
      }
    }

    .modalButtonsWrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transform-origin: bottom;

      .modalButtons {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
        max-width: 320px;
        top: 100%;
        transform: translateX(-50%);
        left: 50%;
        display: flex;
        flex-flow: column nowrap;
        gap: 50px;
        padding: 0 20px;

        @media @square {
          max-width: 1080px;
          padding: 0 32px;
        }
      }
    }

    &.open {
      top: unset;
      bottom: 0;

      .headerWrapper {
        display: flex;
      }

      .navigator {
        max-height: 900px;

        @media @vertical {
          max-height: 300px;
        }
      }

      .modalButtons {
        opacity: 1;
        pointer-events: auto;
        gap: 10px;
        top: calc(100% - 130px);
        transition: top cubic-bezier(.65,1.2,.35,-0.2) 2s 1s, gap 1s 2s, opacity 0.3s;

        @media @square {
          top: calc(100% - 226px);
        }
      }
    }
  }

  &.about {
    background: fade(@darkGray, 40%);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s;

    .headerWrapper {
      display: none;
    }

    .block {
      width: 554px;
      height: 256px;
      right: 308px;

      @media @vertical {
        width: 280px;
        height: auto;
        right: 20px;
      }

      .modalClose {
        position: absolute;
        bottom: calc(100% + 10px);
        right: 0;

        img {
          width: 20px;
          height: 20px;
        }

        @media @square {
          width: 76px;
          height: 76px;
          border-radius: 38px;

          img {
            width: 36px;
            height: 36px;
          }
        }
      }
    }

    &:not(.open) {
      transition: opacity 0.3s, z-index 0s 2s;
    }

    &.open {
      opacity: 1;

      .block {
        opacity: 1;
        bottom: calc(100% - 256px - 114px);
        transition: opacity 0.2s 0.1s, bottom 0.3s;

        @media @square {
          bottom: 50%;
          right: 50%;
          transform: translate(50%, 50%);
          transition: opacity 0.5s;
        }

        @media @vertical {
          bottom: 50%;
          transform: translateY(50%);
          transition: opacity 0.5s;
        }
      }

      .headerWrapper {
        display: flex;
      }
    }
  }

  &.contact {
    background: fade(@darkGray, 40%);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.3s;

    .headerWrapper {
      display: none;
    }

    .contact {
      margin-right: 32px;
    }

    .block {
      width: 554px;
      height: 276px;
      right: 86px;

      @media @vertical {
        width: 280px;
        height: auto;
        right: 20px;
      }

      .modalClose {
        position: absolute;
        bottom: calc(100% + 10px);
        right: 0;

        img {
          width: 20px;
          height: 20px;
        }

        @media @square {
          width: 76px;
          height: 76px;
          border-radius: 38px;

          img {
            width: 36px;
            height: 36px;
          }
        }
      }
    }

    &:not(.open) {
      transition: opacity 0.3s, z-index 0s 2s;
    }

    &.open {
      opacity: 1;

      .block {
        opacity: 1;
        bottom: calc(100% - 276px - 114px);
        transition: opacity 0.2s 0.1s, bottom 0.3s;

        @media @square {
          bottom: 50%;
          right: 50%;
          transform: translate(50%, 50%);
          transition: opacity 0.5s;
        }

        @media @vertical {
          bottom: 50%;
          transform: translateY(50%);
          transition: opacity 0.5s;
        }

        .blockTitle {
          font-size: 40px;
          line-height: 1;
          text-transform: none;

          @media @vertical {
            font-size: 16px;
            line-height: 1.15;
          }
        }

        .dots {
          margin-top: 20px;

          @media @vertical {
            margin-top: -4px;
          }
        }
      }

      .headerWrapper {
        display: flex;
      }
    }
  }

  &.product {
    background: @green;
    z-index: -100;

    .block {
      bottom: unset;
      left: -100%;

      .quiz,
      .mail {
        align-self: flex-start;

        @media @vertical {
          align-self: unset;
          width: 100%;
        }
      }

      .blockTitle {
        white-space: pre-wrap;
      }

      .blockContent {
        width: 430px;

        @media @vertical {
          width: auto;
        }

        a {
          font-weight: 700;
        }
      }

      #infoBlock {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
      }

      #quizBlock {
        display: none;
        flex-flow: column nowrap;
        flex: 1;
        gap: 20px;
        overflow: hidden;

        form {
          display: flex;
          flex-flow: column nowrap;
          flex: 1;
          max-height: 100%;

          .quizHeader {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 40px;
            color: @blue;
            font-size: 24px;
            font-weight: 800;
            line-height: 1.15;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            margin-bottom: 40px;

            @media @vertical {
              flex-flow: column-reverse nowrap;
              gap: 10px;
              margin-bottom: 16px;
            }

            .quizTitle {
              font-size: inherit;
              font-weight: inherit;
              margin: 0;

              @media @vertical {
                font-size: 16px;
              }
            }

            .quizCounter {
              white-space: nowrap;

              @media @vertical {
                font-size: 10px;
              }

              #quizQuestion:after {
                content: '/';
              }
            }
          }

          h2 {
            color: @darkGray;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.25;

            @media @vertical {
              font-size: 14px;
            }

            i {
              font-style: unset;
              font-weight: 300;

              &:before {
                content: ' ';
              }
            }
          }

          .question {
            display: none;
            flex-flow: column nowrap;
            flex: 1;
            gap: 16px;
            overflow: hidden;

            @media @vertical {
              gap: 10px;
            }

            &.active {
              display: flex;
            }

            fieldset {
              margin: 0;
              margin-inline: 0;
              padding: 0;
              padding-inline: 0;
              border: none;
              display: flex;
              flex-flow: column nowrap;
              overflow: auto;
            }

            label.radio,
            label.checkbox {
              cursor: pointer;

              input {
                display: none;
              }

              span {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 20px;
                font-size: 16px;
                line-height: 2;

                @media @vertical {
                  gap: 8px;
                  font-size: 14px;
                  line-height: 1.3;
                }

                &:before {
                  content: '';
                  display: block;
                  width: 14px;
                  height: 14px;
                  border: 1px solid @darkGray;

                  @media @vertical {
                    width: 13px;
                    height: 13px;
                  }
                }
              }

              input:checked + span:before {
                background: @blue;
                border-color: @blue;
              }
            }

            label.radio span:before {
              border-radius: 50%;
            }

            textarea {
              resize: none;
              min-height: 64px;

              @media @vertical {
                min-height: 54px;
              }
            }

            input,
            textarea {
              font-size: 16px;
              padding: 4px 20px;
              line-height: 2;
              border-radius: 10px;
              border: 1px solid @darkGray;
              opacity: 0.3;
              outline: none;

              @media @vertical {
                font-size: 14px;
                padding: 4px 10px;
                line-height: 1.5;
              }

              &::-webkit-input-placeholder,
              &::-moz-placeholder,
              &:-ms-input-placeholder,
              &:-moz-placeholder {
                color: @darkGray;
              }

              &:focus {
                opacity: 1;
              }
            }

            .button[disabled] {
              opacity: 0.3;
              cursor: not-allowed;
            }

            .buttons {
              display: flex;
              flex-flow: row nowrap;
              gap: 10px;
              margin-top: auto;

              @media @vertical {
                .button {
                  width: calc(50% - 5px);
                }
              }
            }

            .submit {
              align-self: flex-start;
              margin-top: auto;

              @media @vertical {
                width: calc(50% - 5px);
              }
            }
          }
        }
      }
    }

    .back {
      position: absolute;
      left: -100%;

      img {
        width: 32px;
        height: 32px;

        @media @vertical {
          width: 20px;
          height: 20px;
        }
      }
    }

    .imageWrapper {
      position: absolute;
      width: 500px;
      height: 650px;
      top: -100%;

      @media @vertical {
        width: 280px;
        height: 370px;
      }

      .img {
        position: absolute;
        top: -50%;
        left: -100%;
        transform: rotate(-32deg);
        transform-origin: bottom left;
        opacity: 0;
        object-fit: contain;
        width: 100%;
        height: 100%;
        transition: top 0.5s, left 0.5s, opacity 0.5s, transform 0.5s;

        &.badge img {
          width: 116%;
          transform: translateX(-5%);

          @media @vertical {
            width: 100%;
            transform: none;
          }
        }

        &.gift img {
          width: 98.6%;
          transform: translate(-2%, 2%);

          @media @vertical {
            transform: translate(11%, 12%);
            width: 80%;
          }
        }

        &.tShirt img {
          height: 104%;
          transform: translate(-9%, -1%);

          @media @vertical {
            width: 100%;
            height: auto;
            transform: translate(0, 4%);
          }
        }

        &.bag img {
          height: 109%;
          transform: translate(11%, -4%);

          @media @vertical {
            height: 96%;
            transform: translate(16%, 0);
          }
        }

        &.apron img {
          height: 109%;
          transform: translate(32%, -4%);

          @media @vertical {
            height: 100%;
            transform: translate(38%, 0%);
          }
        }

        &.cup img {
          height: 107%;
          transform: translate(-15%, 4%);

          @media @vertical {
            width: 113%;
            height: auto;
            transform: translate(-4%, 22%);
          }
        }

        &.bottle img {
          height: 105%;
          transform: translate(66%, -3%) rotate(18deg);

          @media @vertical {
            height: 96%;
            transform: translate(79%, 0%) rotate(18deg);
          }
        }

        &.welcome {
          .welcomeWrapper {
            width: 166%;
            transform: translate(-19%, 14%);

            @media @vertical {
              width: 100%;
              transform: translate(0, 63%);
            }

            .box {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }

            .badge {
              position: absolute;
              object-fit: contain;
              width: 190px;
              height: 200px;
              left: 123px;
              top: calc(50% - 114px);
              transform: translateY(-50%) rotate(-43deg);

              @media @vertical {
                width: 20%;
                left: 14%;
                top: calc(50% - 44px);
              }
            }

            .note {
              position: absolute;
              object-fit: contain;
              width: 203px;
              height: 252px;
              left: 152px;
              bottom: calc(50% - 68px);
              transform: translateY(50%);

              @media @vertical {
                width: 25%;
                left: 17%;
                bottom: calc(50% - 20px);
              }
            }

            .tShirt {
              position: absolute;
              object-fit: contain;
              width: 335px;
              height: 405px;
              right: 109px;
              top: calc(50% - 2px);
              transform: translateY(-50%);

              @media @vertical {
                width: 40%;
                right: 9%;
              }
            }
          }
        }

        &.laptop {
          &:after {
            content: '';
            position: absolute;
            background: @lightGray;
            width: 138%;
            height: 71%;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-48.5%, -37%);

            @media @vertical {
              width: 72%;
              height: 39%;
              transform: translate(-50%, -21%);
            }
          }

          img {
            width: 186%;
            transform: translate(-22%, 21%);
            object-fit: contain;

            @media @vertical {
              width: 100%;
              transform: translate(0, 88%);
            }
          }
        }

        &.active {
          top: 0;
          left: 0;
          opacity: 1;
          transform: none;
        }
      }
    }

    .videoWrapper {
      position: absolute;
      width: 448px;
      height: 252px;
      border-radius: 16px;
      right: -100%;
      overflow: hidden;

      @media @vertical {
        width: 161px;
        height: 91px;
        border-radius: 8px;
      }

      &:after {
        z-index: 2;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: fade(@darkGray, 25%);
        border-radius: inherit;
      }

      &.empty {
        background: @darkGray;
      }

      video {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: inherit;
      }

      .play,
      .download {
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media @vertical {
          border: none;
          background: transparent;
          opacity: 0.7;
        }
      }
    }

    .navigatorWrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      transform-origin: bottom left;
    }

    .navigator {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 100%);
      display: flex;
      flex-flow: row nowrap;
      gap: 50px;
      transform-origin: bottom left;

      @media @square {
        left: 0;
        gap: 42px;
        transform: translateY(100%);
        width: 100%;
        padding: 0 32px;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
          width: 0;
          height: 0;
        }
      }

      @media @vertical {
        left: 0;
        gap: 15px;
        transform: translateY(100%);
        width: 100%;
        padding: 0 20px;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
          width: 0;
          height: 0;
        }
      }

      .itemWrapper {
        position: relative;
        max-width: 124px;

        @media @vertical {
          max-width: 50px;
        }

        &.active:after {
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: @blue;
          top: 8px;
          right: 8px;

          @media @vertical {
            width: 10px;
            height: 10px;
            top: 3px;
            right: 3px;
          }
        }

        .item {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 124px;
          height: 124px;
          border-radius: 50%;
          overflow: hidden;
          cursor: pointer;

          @media @vertical {
            width: 50px;
            height: 50px;
          }

          &.white {
            background: @white;
          }

          &.black {
            background: @darkGray;
          }

          & > img {
            object-fit: contain;
            width: 70%;
            height: 70%;

            &.badge {
              position: absolute;
              width: 22px;
              height: 22px;
              left: 32px;
              top: calc(50% - 12px);
              transform: translateY(-50%) rotate(-46deg);

              @media @vertical {
                width: 8px;
                height: 8px;
                left: 14px;
                top: calc(50% - 5px);
              }
            }

            &.note {
              position: absolute;
              width: 28px;
              height: 28px;
              left: 32px;
              bottom: calc(50% - 8px);
              transform: translateY(50%);

              @media @vertical {
                height: 12px;
                width: 11px;
                left: 13px;
                bottom: calc(50% - 3px);
              }
            }

            &.tShirt {
              position: absolute;
              width: 41px;
              height: 41px;
              right: 24px;
              top: 50%;
              transform: translateY(-50%);

              @media @vertical {
                width: 14px;
                height: 17px;
                right: 11px;
              }
            }
          }

          &.badge {
            img {
              transform: rotate(27deg);
            }
          }

          &.gift {
            img {
              width: 60%;
              height: 60%;
            }
          }

          &.apron {
            align-items: flex-start;

            img {
              margin-top: 10px;
              width: 120%;
              height: 120%;

              @media @vertical {
                margin-top: 5px;
              }
            }
          }

          &.bottle {
            align-items: flex-start;

            img {
              margin-top: 20px;
              width: 110%;
              height: 110%;

              @media @vertical {
                margin-top: 8px;
              }
            }
          }
        }

        .text {
          opacity: 0;
          margin-top: 8px;
          color: #333;
          text-align: center;
          font-size: 11px;
          font-weight: 800;
          line-height: 1.15;
          text-transform: uppercase;
          transition: opacity 0.2s;

          @media @vertical {
            display: none;
          }
        }

        &:hover {
          .text {
            opacity: 1;
          }
        }
      }
    }

    &:not(.open) {
      transition: none;
    }

    &.open {
      z-index: 100;

      .block {
        width: 554px;
        top: 180px;
        left: 318px;
        opacity: 1;
        transition: left 0.3s 1.1s;

        @media @square {
          left: 32px;
        }

        @media @vertical {
          width: 200px;
          top: 160px;
          left: 20px;
        }
      }

      .back {
        bottom: 457px;
        left: 433px;
        transition: left 0.4s 1.2s;

        @media @square {
          left: 175px;
        }

        @media @vertical {
          left: 20px;
          bottom: 418px;

          span {
            display: none;
          }
        }
      }

      .imageWrapper {
        top: 128px;
        left: calc((100% - 500px) / 2);
        animation: 1s linear imageActivate;

        @media @vertical {
          top: 80px;
          left: 20px;
          animation: 1s linear imageActivateVertical;
        }
      }

      @keyframes imageActivate {
        0% {
          top: -100%;
        }
        70% {
          top: 150px;
        }
        100% {
          top: 128px;
        }
      }

      @keyframes imageActivateVertical {
        0% {
          top: -100%;
        }
        70% {
          top: 90px;
        }
        100% {
          top: 80px;
        }
      }

      .videoWrapper {
        bottom: 350px;
        right: 370px;
        transition: right 0.5s 1.3s;

        @media @square {
          right: 32px;
        }

        @media @vertical {
          bottom: 140px;
          right: 20px;
        }
      }

      .navigator {
        bottom: 84px;
        transform: translateX(-50%);
        transition: bottom 0.3s 2s, transform 0.3s 2s;

        @media @square {
          transform: none;
        }

        @media @vertical {
          bottom: 48px;
          transform: none;
        }
      }
    }

    &.activeQuiz,
    &.activeVideo {
      .imageWrapper {
        top: -100%;
        transition: top 1.2s;
      }

      .navigator {
        bottom: 0;
        transform: translate(-50%, 100%);
        transition: bottom 1.2s, transform 1.2s;

        @media @square {
          transform: translateY(100%);
        }

        @media @vertical {
          transform: translateY(100%);
        }
      }
    }

    &.activeVideo {
      .block {
        left: -100%;
        transition: left 1.2s;
      }

      .back {
        bottom: calc(100% - 165px);
        transform: translateY(100%);
        transition: bottom 1.2s, transform 1.2s;
      }

      .videoWrapper {
        width: 1040px;
        height: 586px;
        bottom: 247px;
        right: 440px;
        transition: width 1.2s, height 1.2s, bottom 1.2s, right 1.2s;

        @media @square {
          right: 20px;
        }

        &:after {
          display: none;
        }
      }
    }

    &.activeQuiz {
      .block {
        transform: translateX(-50%);
        left: 50%;
        top: 242px;
        height: 710px !important;
        transition: transform 1.2s, left 1.2s, top 1.2s, height 1.2s, width 1.2s;

        @media @vertical {
          width: 280px;
          transform: none;
          left: 20px;
          top: 130px;
          height: 404px !important;
        }
      }

      .back {
        left: calc(50% - (554px / 2));
        bottom: calc(100% - 135px);
        transform: translateY(100%);
        transition: bottom 1.2s, left 1.2s, transform 1.2s;

        @media @vertical {
          left: 20px;
          bottom: 448px;
          transform: none;
        }
      }

      .videoWrapper {
        right: -100%;
        transition: right 1.2s;
      }
    }

    &.inactiveVideoOrQuiz {
      .block {
        transition: transform 1.2s, left 1.2s, top 1.2s, height 1.2s, width 1.2s;
      }

      .back {
        transition: bottom 1.2s, left 1.2s, transform 1.2s;
      }

      .imageWrapper {
        transition: top 1.2s;
      }

      .navigator {
        transition: bottom 1.2s, transform 1.2s;
      }

      .videoWrapper {
        transition: width 1.2s, height 1.2s, bottom 1.2s, right 1.2s;
      }
    }
  }

  &.hint {
    background: fade(@darkGray, 40%);
    backdrop-filter: blur(5px);

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .block {
      width: 554px;
      gap: 48px;
      padding-top: 48px;

      @media @vertical {
        width: 280px;
        gap: 12px;
        padding-top: 20px;
      }
    }

    .text {
      color: @darkGray;
      font-size: 24px;
      font-weight: 800;
      line-height: 1.05;
      letter-spacing: 0.48px;

      @media @vertical {
        font-size: 14px;
      }
    }

    .mouse {
      width: 45px;
      height: 72px;
      align-self: center;

      @media @vertical {
        width: 30px;
        height: 48px;
      }
    }

    .eye {
      cursor: default;
      box-shadow: none;
      align-self: center;

      @media @vertical {
        margin-top: 18px;
      }
    }

    .button {
      align-self: flex-start;

      @media @vertical {
        font-size: 10px;
        margin-top: 38px;
        padding: 0 26px;
      }
    }

    &.open {
      .block {
        position: relative;
        opacity: 1;
      }
    }
  }
}

.firstScreen {
  background: @green;

  .girl {
    position: absolute;
    width: 826px;
    height: 987px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.1s;

    @media @vertical {
      height: 351px;
      width: 294px;
    }
  }

  .layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .text {
      position: absolute;
      color: @blue;
      font-size: 142px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: 2.84px;
      text-transform: uppercase;

      @media @square {
        font-size: 100px;
        letter-spacing: 2px;
      }

      @media @vertical {
        font-size: 48px;
        letter-spacing: 0.96px;
      }

      &.choose {
        top: 206px;
        left: 50px;

        @media @square {
          top: 300px;
          left: 44px;
        }

        @media @vertical {
          top: 83px;
          left: 20px;
        }
      }

      &.exactly {
        top: 348px;
        left: 184px;

        @media @square {
          display: none;
        }

        @media @vertical {
          display: none;
        }
      }

      &.that {
        top: 490px;
        left: 516px;

        @media @square {
          top: 400px;
          left: 215px;
        }

        @media @vertical {
          top: 131px;
          left: 79px;

          &:after {
            position: absolute;
            content: ',';
            top: 0;
            right: -0.25em;
          }
        }
      }

      &.what {
        bottom: 446px;
        right: 442px;

        @media @square {
          bottom: unset;
          top: 400px;
          right: 175px;
        }

        @media @vertical {
          bottom: unset;
          right: unset;
          top: 131px;
          left: 160px;
        }
      }

      &.want {
        bottom: 304px;
        right: 230px;

        @media @square {
          bottom: unset;
          top: 500px;
          right: 100px;
        }

        @media @vertical {
          bottom: unset;
          right: unset;
          top: 180px;
          left: 20px;
          z-index: -1;
        }
      }

      &.you {
        bottom: 162px;
        right: 230px;

        @media @square {
          bottom: unset;
          top: 600px;
          right: 100px;
        }

        @media @vertical {
          bottom: unset;
          top: 228px;
          right: 28px;
          z-index: -1;
        }
      }
    }

    .img {
      position: absolute;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        color: @white;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.15;
        text-transform: uppercase;

        @media @vertical {
          font-size: 10px;
        }
      }

      &.bag {
        bottom: 42px;
        left: 387px;
        width: 319px;
        height: 550px;
        transform: rotate(36deg);

        @media @square {
          bottom: 90px;
          left: 50px;
        }

        @media @vertical {
          bottom: 147px;
          left: 16px;
          width: 126px;
          height: 213px;
          transform: rotate(-14deg);
          z-index: -2;
        }

        span {
          top: 225px;
          left: 36px;
          width: 156px;

          @media @vertical {
            top: 79px;
            left: 14px;
            width: 87px;
          }
        }
      }

      &.gift {
        right: 175px;
        top: 280px;
        width: 248px;
        height: 317px;

        @media @square {
          top: 690px;
          right: 120px;
        }

        @media @vertical {
          top: unset;
          right: 33px;
          bottom: 32px;
          width: 120px;
          height: 153px;
        }

        span {
          color: @darkGray;
          top: 60px;
          left: 30px;
          width: 170px;

          @media @vertical {
            top: 35px;
            left: 16px;
            width: 100px;
          }
        }
      }
    }

    .hint {
      position: absolute;
      width: 343px;
      height: 64px;
      bottom: 90px;
      transform: translateX(-50%);
      left: 50%;
      border-radius: 32px;
      background: @white;
      color: @blue;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 64px;

      @media @square {
        bottom: 32px;
      }

      .imageWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: @blue;
        transform: translate(-50%, -70%);
        top: 0;
        left: 50%;
        border-radius: 50%;
        width: 54px;
        height: 54px;

        img {
          width: 70%;
          height: 70%;
        }
      }

      @media @vertical {
        height: 40px;
        bottom: 20px;
        width: 280px;
        font-size: 12px;
        line-height: 40px;

        .imageWrapper {
          width: 40px;
          height: 40px;
        }
      }
    }

    .eye {
      position: absolute;
      opacity: 0;
      z-index: -1;
      transition: width 0.3s, height 0.3s, font-size 0.3s;

      &:hover {
        width: 168px;
        height: 118px;
        font-size: 12px;

        @media @vertical {
          width: 80px;
          height: 56px;
        }
      }

      &.gift {
        opacity: 1;
        z-index: auto;
        top: 460px;
        left: calc(100% - 301px);

        @media @square {
          top: 860px;
          left: calc(100% - 246px);
        }

        @media @vertical {
          top: 440px;
          left: calc(100% - 94px);
        }
      }

      &.bag {
        opacity: 1;
        z-index: auto;
        top: calc(100% - 250px);
        left: 485px;

        @media @square {
          top: 770px;
          left: 150px;
        }

        @media @vertical {
          left: 65px;
          top: calc(100% - 268px);
        }
      }
    }
  }
}

.secondScreen {
  background: @pink;
  transition: opacity 0.3s;

  .girl {
    position: absolute;
    width: 826px;
    height: 987px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.1s;

    @media @vertical {
      height: 351px;
      width: 294px;
    }
  }

  .secondText {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: @blue;
    font-size: 142px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2.84px;
    text-transform: uppercase;

    @media @square {
      font-size: 100px;
      letter-spacing: 2px;
    }

    @media @vertical {
      z-index: -1;
      font-size: 48px;
      letter-spacing: 0.96px;
    }

    .create {
      position: absolute;
      top: 245px;
      left: 150px;

      @media @square {
        top: 306px;
        left: 36px;
      }

      @media @vertical {
        top: 88px;
        left: 20px;
      }
    }

    .our {
      position: absolute;
      top: 394px;
      left: 393px;

      @media @square {
        top: 420px;
        left: 117px;
      }

      @media @vertical {
        display: none;
      }
    }

    .design {
      position: absolute;
      top: 394px;
      right: 150px;

      @media @square {
        top: 428px;
        right: 24px;
      }

      @media @vertical {
        top: 136px;
        right: 20px;
      }
    }

    .clothes {
      position: absolute;
      top: 536px;
      right: 200px;

      @media @square {
        top: 528px;
        right: 30px;
      }

      @media @vertical {
        top: 184px;
        left: 20px;
        right: unset;
      }
    }
  }

  .clothesImages {
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .text {
      color: @white;
      font-size: 21px;
      font-weight: 800;
      line-height: 1.15;
      text-transform: uppercase;

      @media @vertical {
        font-size: 10px;
      }
    }

    .tShirt {
      position: absolute;
      transform: rotate(5deg);
      bottom: -10px;
      left: 0;
      width: 593px;
      height: 737px;

      @media @vertical {
        height: 270px;
        width: 217px;
      }
    }

    .tShirtText {
      position: absolute;
      transform: rotate(5deg);
      bottom: 514px;
      left: 185px;

      @media @vertical {
        bottom: 182px;
        left: 68px;
      }
    }

    .apron {
      position: absolute;
      transform: rotate(4deg);
      bottom: -267px;
      left: 690px;
      width: 459px;
      height: 1092px;
      mask-image: url(/media/image/girlMask.svg#mask1);
      -webkit-mask-image: url(/media/image/girlMask.svg#mask1);

      @media @vertical {
        height: 428px;
        width: 180px;
        bottom: -132px;
        left: 275px;
      }
    }

    .apronText {
      position: absolute;
      transform: rotate(4deg);
      bottom: 515px;
      left: 855px;

      @media @vertical {
        bottom: 174px;
        left: 337px;
      }
    }
  }

  .eye {
    position: absolute;
    opacity: 0;
    z-index: -1;
    left: 50%;
    top: 625px;

    @media @vertical {
      left: 50%;
      top: 385px;
    }
  }
}

.cupScreen {
  background: @darkGray;
  transition: top 0.2s;

  .cup {
    opacity: 0;
    position: absolute;
    width: 703px;
    height: 699px;
    top: 100%;
    left: calc((100% - 703px) / 2);

    @media @square {
      width: 552px;
      height: 550px;
      left: calc((100% - 552px) / 2);
    }

    @media @vertical {
      width: 201px;
      height: 200px;
      left: calc((100% - 201px) / 2);
    }
  }

  .eye {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 0.3s;
  }

  .cupText {
    opacity: 0;
    position: absolute;
    color: @green;
    left: 100%;
    top: calc((100% - 142px) / 2);
    font-size: 142px;
    white-space: nowrap;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 2.84px;
    text-transform: uppercase;

    @media @square {
      font-size: 100px;
      top: calc((100% - 100px) / 2);
      letter-spacing: 2px;
    }

    @media @vertical {
      font-size: 48px;
      top: calc((100% - 72px) / 2);
      letter-spacing: 0.96px;
      z-index: 2;
    }
  }
}

.bottleScreen {
  background: @darkGray;
  transition: top 0.4s;

  .content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
  }

  .background {
    position: relative;
    background: @mediumGray;
    border-radius: 68px;
    overflow: hidden;
    width: 1812px;
    height: 940px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    @media @square {
      width: 972px;
      height: 940px;
      align-items: flex-end;
      padding-bottom: 100px;
    }

    @media @vertical {
      position: absolute;
      top: 70px;
      left: 20px;
      border-radius: 20px;
      width: 280px;
      height: 200%;
    }

    .bottle {
      width: 516px;
      height: 1638px;
      position: absolute;
      top: 80px;
      left: calc((100% - 516px) / 2);

      @media @square {
        width: 560px;
        height: 1746px;
        left: calc((100% - 560px) / 2);
      }

      @media @vertical {
        width: 200px;
        height: 635px;
        top: 10px;
        left: calc((100% - 200px) / 2);
      }
    }

    .bottleText {
      opacity: 0;
      width: 960px;
      color: @darkGray;
      font-size: 100px;
      font-weight: 800;
      line-height: 1.15;
      letter-spacing: 2px;
      text-transform: uppercase;

      @media @square {
        font-size: 70px;
        letter-spacing: unset;
        width: 460px;
      }

      @media @vertical {
        position: absolute;
        top: 183px;
        left: 44px;
        width: 196px;
        font-size: 32px;
        letter-spacing: unset;
      }
    }
  }

  .eye {
    opacity: 0;
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    transition: opacity 0.3s;

    @media @vertical {
      top: 340px;
    }
  }
}

.boxScreen {
  background: @green;
  transition: top 0.4s;

  #box {
    position: absolute;
    width: 965px;
    height: 665px;
    top: calc((100% - 665px) / 2);
    left: calc((100% - 965px) / 2);
    transform: scale(0);
    transition: opacity 0.3s;

    @media @vertical {
      width: 280px;
      height: 193px;
      top: calc((100% - 193px) / 2);
      left: calc((100% - 280px) / 2);
    }

    .box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .badge {
      position: absolute;
      top: 73px;
      left: 160px;
      width: 215px;
      height: 240px;
      transform: rotate(-46deg);

      @media @vertical {
        top: 21px;
        left: 46px;
        width: 62px;
        height: 70px;
      }

      img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

      span {
        position: absolute;
        color: @white;
        font-weight: 800;
        line-height: 1.15;
        text-transform: uppercase;
        font-size: 12px;
        transform: rotate(-26.5deg);
        top: 75px;
        left: 40px;
        width: 108px;

        @media @vertical {
          transform: rotate(-26.5deg) scale(0.25);
          top: 3px;
          left: -28px;
        }
      }
    }

    .note {
      position: absolute;
      bottom: 100px;
      left: 200px;
      width: 228px;
      height: 302px;

      @media @vertical {
        bottom: 29px;
        left: 58px;
        width: 66px;
        height: 87px;
      }
    }

    .tShirt {
      position: absolute;
      top: 92px;
      right: 100px;
      width: 383px;
      height: 481px;

      @media @vertical {
        top: 28px;
        right: 29px;
        width: 111px;
        height: 139px;
      }
    }

    .tShirtText {
      position: absolute;
      top: 250px;
      right: 165px;
      width: 264px;
      color: @white;
      font-size: 24px;
      font-weight: 800;
      line-height: 1.15;
      letter-spacing: 0.48px;
      text-transform: uppercase;

      @media @vertical {
        font-size: 10px;
        top: 68px;
        right: 42px;
        width: 87px;
      }
    }
  }

  .eye {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    top: 50%;
    left: 50%;

    &.tShirtEye {
      top: calc(50% - 24px);
      left: calc(50% + 195px);

      @media @vertical {
        top: 50%;
        left: calc(50% + 56px);
      }
    }
  }
}

.laptopScreen {
  background: @green;

  #laptop {
    position: absolute;
    width: 1352px;
    height: 783px;
    top: calc((100% - 783px) / 2);
    left: calc((100% - 1352px) / 2);

    @media @square {
      width: 1008px;
      height: 584px;
      top: calc((100% - 584px) / 2);
      left: calc((100% - 1008px) / 2);
    }

    @media @vertical {
      width: 280px;
      height: 162px;
      top: calc((100% - 162px) / 2);
      left: calc((100% - 280px) / 2);
    }

    .laptop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .background {
      background: @lightGray;
      position: absolute;
      padding: 45px 65px;
      width: 980px;
      height: 680px;
      top: calc((100% - 680px) / 2);
      left: calc((100% - 980px) / 2);

      @media @square {
        padding: 20px 40px;
        width: 730px;
        height: 500px;
        top: calc((100% - 500px) / 2);
        left: calc((100% - 730px) / 2);
      }

      @media @vertical {
        padding: 12px 16px;
        width: 202px;
        height: 138px;
        top: calc((100% - 138px) / 2);
        left: calc((100% - 202px) / 2);
      }

      .laptopTextWrapper {
        font-size: 100px;
        font-weight: 800;
        line-height: 1;
        letter-spacing: 2px;
        text-transform: uppercase;

        @media @square {
          font-size: 70px;
          letter-spacing: 1.4px;
        }

        @media @vertical {
          font-size: 20px;
          letter-spacing: 0.4px;
        }

        .laptopText {
          color: @darkGray;
        }

        .laptopTextCaret {
          display: inline-block;
          border-left: 4px solid @blue;
          height: 1em;
          margin: 0 0 -0.15em -0.25em;
          animation: 1s linear 0s infinite caret;

          @media @vertical {
            border-left-width: 2px;
          }
        }
      }
    }
  }

  .eye {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity 0.3s;
  }
}

.footer {
  background: @blue;
  top: 0;

  .content {
    display: flex;
    flex-flow: column nowrap;
    gap: 60px;
    min-height: 700px;
    max-height: 700px;
    padding: 66px 54px 80px;
    color: @white;

    @media @square {
      gap: 35px;
      padding: 36px;
      min-height: 780px;
      max-height: 780px;
    }

    @media @vertical {
      gap: 35px;
      padding: 25px 20px 20px;
      min-height: 380px;
      max-height: 380px;
    }

    .top {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: auto;

      @media @square {
        order: 2;
        flex-flow: column nowrap;
        gap: 26px;
        justify-content: unset;
        align-items: unset;
        margin-top: auto;
        margin-bottom: 0;
      }

      @media @vertical {
        order: 2;
        flex-flow: column nowrap;
        gap: 10px;
        justify-content: unset;
        align-items: unset;
      }
    }

    .main {
      display: flex;
      flex-flow: column nowrap;
      font-size: 50px;
      font-weight: 800;
      line-height: 1;

      @media @square {
        order: 1;
        font-size: 50px;

        .dots {
          margin: 60px 0 0;
        }
      }

      @media @vertical {
        order: 1;
        font-size: 20px;
        line-height: 1.15;

        .dots {
          margin: 20px 0 15px;
        }
      }
    }

    .bottom {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;
      gap: 40px;

      @media @square {
        order: 3;
        justify-content: flex-start;
        gap: 40px;
      }

      @media @vertical {
        order: 3;
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 10px;
      }

      .privacy,
      .copyright {
        font-size: 16px;
        font-weight: 400;
        line-height: 1;

        @media @vertical {
          font-size: 11px;
        }
      }
    }
  }
}

.horizontal {
  @media @square {
    &:not(.square) {
      display: none !important;
    }
  }

  @media @vertical {
    &:not(.vertical) {
      display: none !important;
    }
  }
}

.square {
  @media @horizontal {
    &:not(.horizontal) {
      display: none !important;
    }
  }

  @media @vertical {
    &:not(.vertical) {
      display: none !important;
    }
  }
}

.vertical {
  @media @horizontal {
    &:not(.horizontal) {
      display: none !important;
    }
  }

  @media @square {
    &:not(.square) {
      display: none !important;
    }
  }
}

.mobileHorizontal:not(video) {
  display: none;
}

@media @mobileHorizontal {
  body *:not(.mobileHorizontal):not(.modal.product):not(.modal.product .content):not(.modal.product .videoWrapper) {
    display: none !important;
  }

  .modal.product .videoWrapper:after {
    display: none !important;
  }

  .modal.product {
    background: none;
  }

  .mobileHorizontal {
    display: flex !important;
  }
}

@keyframes caret {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes prevFooter {
  0% {
    top: 0;
  }
  50% {
    top: -25px;
  }
  100% {
    top: 0;
  }
}
