body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}
#hiddenContent {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  min-width: 1920px;
  min-height: 1080px;
  max-width: 1920px;
  max-height: 1080px;
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  #hiddenContent {
    min-width: 1080px;
    min-height: 1080px;
    max-width: 1080px;
    max-height: 1080px;
  }
}
@media (aspect-ratio < 0.75) {
  #hiddenContent {
    min-width: 320px;
    min-height: 568px;
    max-width: 320px;
    max-height: 568px;
  }
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  .horizontal {
    display: none;
  }
}
@media (aspect-ratio < 0.75) {
  .horizontal {
    display: none;
  }
}
@media (aspect-ratio >= 1.33) {
  .square {
    display: none;
  }
}
@media (aspect-ratio < 0.75) {
  .square {
    display: none;
  }
}
@media (aspect-ratio >= 1.33) {
  .vertical {
    display: none;
  }
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  .vertical {
    display: none;
  }
}
.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-radius: 32px;
  gap: 26px;
  margin: 0;
  padding: 0 32px;
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  background: transparent;
}
.button.blue {
  color: #FFFFFF;
  background: #7382EC;
}
.button.white {
  background: #FFFFFF;
  color: #7382EC;
}
.button.big {
  height: 92px;
  padding: 0 85px;
  font-size: 40px;
  border-radius: 70px;
}
.eye {
  position: relative;
  background-color: #D5FD74;
  background-image: url(/media/image/eye.svg);
  background-position: 50% 10px;
  background-size: 50%;
  width: 128px;
  height: 90px;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 30px #D5FD74;
}
.eye:after {
  content: "посмотреть";
  color: #7382EC;
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 0;
}
.headerWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transform-origin: top;
}
.headerWrapper .header {
  opacity: 0;
  transition: opacity 0.1s;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  padding: 32px 54px 0;
  min-width: 1920px;
  max-width: 1920px;
  transform-origin: top;
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  .headerWrapper .header {
    min-width: 1080px;
    max-width: 1080px;
  }
}
@media (aspect-ratio < 0.75) {
  .headerWrapper .header {
    min-width: 320px;
    max-width: 320px;
  }
}
.headerWrapper .header .logo {
  width: 147px;
  height: 16px;
  margin-right: 40px;
}
.headerWrapper .header .catalog {
  margin-right: auto;
  width: 200px;
}
.contentWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
.contentWrapper .content {
  opacity: 0;
  transition: opacity 0.1s;
  position: relative;
  min-width: 1920px;
  min-height: 1080px;
  max-width: 1920px;
  max-height: 1080px;
  transform-origin: bottom;
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  .contentWrapper .content {
    min-width: 1080px;
    min-height: 1080px;
    max-width: 1080px;
    max-height: 1080px;
  }
}
@media (aspect-ratio < 0.75) {
  .contentWrapper .content {
    min-width: 320px;
    min-height: 568px;
    max-width: 320px;
    max-height: 568px;
  }
}
.contentWrapper.center {
  align-items: center;
}
.contentWrapper.center .content {
  transform-origin: center;
}
.modal {
  opacity: 1;
  z-index: 100;
}
.modal.open {
  top: 0;
}
.modal.menu {
  background: #7382EC;
  top: unset;
  bottom: 100%;
  transition: bottom 0.3s;
}
.modal.menu .headerWrapper {
  display: none;
}
.modal.menu .content {
  display: flex;
  flex-flow: row nowrap;
}
.modal.menu .navigator {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.44;
  text-transform: uppercase;
  padding: 200px 135px 0 260px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s 0.3s;
}
.modal.menu .navigator .navButton {
  cursor: pointer;
}
.modal.menu .menuHintContentWrapper {
  background: #D5FD74;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
.modal.menu .menuHintContentWrapper .menuHintContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 534px;
  min-height: 1080px;
  max-width: 534px;
  max-height: 1080px;
}
.modal.menu .menuHintContentWrapper .menuHintContent > img {
  max-width: 412px;
  max-height: 710px;
}
.modal.menu .menuHintContentWrapper.conference img {
  transform: rotate(25deg);
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper {
  position: relative;
  width: 412px;
  height: 550px;
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .box {
  position: absolute;
  bottom: 0;
  left: calc((100% - 412px) / 2);
  width: 412px;
  height: 284px;
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .badge {
  position: absolute;
  bottom: 145px;
  left: calc(((100% - 412px) / 2) + 80px);
  width: 100px;
  height: 110px;
  transform: rotate(-46deg);
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .note {
  position: absolute;
  bottom: 42px;
  left: calc(((100% - 412px) / 2) + 85px);
  width: 100px;
  height: 132px;
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .tShirt {
  position: absolute;
  bottom: 42px;
  right: calc(((100% - 412px) / 2) + 50px);
  width: 160px;
  height: 200px;
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .boxCover {
  position: absolute;
  top: 0;
  left: calc((100% - 412px) / 2);
  width: 412px;
  height: 284px;
}
.modal.menu.open {
  top: unset;
  bottom: 0;
}
.modal.menu.open .headerWrapper {
  display: flex;
}
.modal.menu.open .navigator {
  max-height: 900px;
}
.firstScreen {
  background: #D5FD74;
}
.firstScreen .girl {
  position: absolute;
  width: 826px;
  height: 987px;
  bottom: 0;
  left: calc((100% - 826px) / 2);
}
.firstScreen .layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.firstScreen .layer2 .text {
  position: absolute;
  color: #7382EC;
  font-size: 142px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2.84px;
  text-transform: uppercase;
}
.firstScreen .layer2 .text.choose {
  top: 206px;
  left: 50px;
}
.firstScreen .layer2 .text.exactly {
  top: 348px;
  left: 184px;
}
.firstScreen .layer2 .text.that {
  top: 490px;
  left: 516px;
}
.firstScreen .layer2 .text.you {
  bottom: 162px;
  right: 230px;
}
.firstScreen .layer2 .text.want {
  bottom: 304px;
  right: 230px;
}
.firstScreen .layer2 .text.what {
  bottom: 446px;
  right: 442px;
}
.firstScreen .layer2 .img {
  position: absolute;
}
.firstScreen .layer2 .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.firstScreen .layer2 .img span {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
}
.firstScreen .layer2 .img.badge {
  top: 110px;
  left: 635px;
  width: 215px;
  height: 240px;
}
.firstScreen .layer2 .img.badge span {
  font-size: 12px;
  transform: rotate(-26.5deg);
  top: 75px;
  left: 40px;
  width: 108px;
}
.firstScreen .layer2 .img.bag {
  bottom: 42px;
  left: 387px;
  width: 319px;
  height: 550px;
  transform: rotate(36deg);
}
.firstScreen .layer2 .img.bag span {
  top: 225px;
  left: 36px;
  width: 156px;
}
.firstScreen .layer2 .img.gift {
  right: 175px;
  top: 280px;
  width: 248px;
  height: 317px;
}
.firstScreen .layer2 .img.gift span {
  color: #333333;
  top: 60px;
  left: 30px;
  width: 170px;
}
.firstScreen .layer2 .button {
  color: #333333;
  position: absolute;
  bottom: 100px;
  width: 382px;
  left: calc((100% - 382px) / 2);
}
.firstScreen .layer2 .eye {
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: top 0.3s, left 0.3s, opacity 0.3s;
}
.firstScreen .layer2 .eye.badge {
  opacity: 1;
  z-index: auto;
  top: 198px;
  left: 683px;
}
.firstScreen .layer2 .eye.gift {
  opacity: 1;
  z-index: auto;
  top: 424px;
  left: calc(100% - 365px);
}
.firstScreen .layer2 .eye.bag {
  opacity: 1;
  z-index: auto;
  top: calc(100% - 290px);
  left: 425px;
}
.secondScreen {
  background: #FFEFDF;
  transition: opacity 0.3s;
}
.secondScreen .girl {
  position: absolute;
  width: 826px;
  height: 987px;
  bottom: 0;
  left: calc((100% - 826px) / 2);
}
.secondScreen .secondText {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #7382EC;
  font-size: 142px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2.84px;
  text-transform: uppercase;
}
.secondScreen .secondText .create {
  position: absolute;
  top: 245px;
  left: 150px;
}
.secondScreen .secondText .our {
  position: absolute;
  top: 394px;
  left: 393px;
}
.secondScreen .secondText .design {
  position: absolute;
  top: 394px;
  right: 150px;
}
.secondScreen .secondText .clothes {
  position: absolute;
  top: 536px;
  right: 200px;
}
.secondScreen .clothesImages {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.secondScreen .clothesImages .text {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
}
.secondScreen .clothesImages .tShirt {
  position: absolute;
  transform: rotate(5deg);
  bottom: -10px;
  left: 0;
  width: 593px;
  height: 737px;
}
.secondScreen .clothesImages .tShirtText {
  position: absolute;
  transform: rotate(5deg);
  bottom: 514px;
  left: 185px;
}
.secondScreen .clothesImages .apron {
  position: absolute;
  transform: rotate(4deg);
  bottom: -267px;
  left: 690px;
  width: 459px;
  height: 1092px;
  mask-image: url(/media/image/girlMask.svg#mask1);
  -webkit-mask-image: url(/media/image/girlMask.svg#mask1);
}
.secondScreen .clothesImages .apronText {
  position: absolute;
  transform: rotate(4deg);
  bottom: 515px;
  left: 855px;
}
.secondScreen .eye {
  position: absolute;
  opacity: 0;
  z-index: -1;
  left: calc((100% - 128px) / 2);
  bottom: 430px;
}
.cupScreen {
  background: #333333;
  transition: top 0.2s;
}
.cupScreen .cup {
  opacity: 0;
  position: absolute;
  width: 703px;
  height: 699px;
  top: 100%;
  left: calc((100% - 703px) / 2);
}
.cupScreen .eye {
  opacity: 0;
  position: absolute;
  top: calc((100% - 90px) / 2);
  left: calc((100% - 128px) / 2);
  transition: opacity 0.3s;
}
.cupScreen .cupText {
  opacity: 0;
  position: absolute;
  color: #D5FD74;
  left: 100%;
  top: calc((100% - 142px) / 2);
  font-size: 142px;
  white-space: nowrap;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 2.84px;
  text-transform: uppercase;
}
.bottleScreen {
  background: #333333;
  transition: top 0.4s;
}
.bottleScreen .content {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.bottleScreen .background {
  position: relative;
  background: #FFFFFF;
  border-radius: 68px;
  overflow: hidden;
  width: 1812px;
  height: 940px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.bottleScreen .background .bottle {
  width: 516px;
  height: 1638px;
  position: absolute;
  top: 80px;
  left: calc((100% - 516px) / 2);
}
.bottleScreen .background .bottleText {
  opacity: 0;
  width: 960px;
  color: #333333;
  font-size: 100px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.bottleScreen .background .eye {
  opacity: 0;
  position: absolute;
  top: calc((100% - 90px) / 2);
  left: calc((100% - 128px) / 2);
  transition: opacity 0.3s;
}
.boxScreen {
  background: #D5FD74;
  transition: top 0.4s;
}
.boxScreen #box {
  position: absolute;
  width: 965px;
  height: 665px;
  top: calc((100% - 665px) / 2);
  left: calc((100% - 965px) / 2);
  transform: scale(0);
  transition: opacity 0.3s;
}
.boxScreen #box .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.boxScreen #box .badge {
  position: absolute;
  top: 73px;
  left: 160px;
  width: 215px;
  height: 240px;
  transform: rotate(-46deg);
}
.boxScreen #box .note {
  position: absolute;
  bottom: 100px;
  left: 200px;
  width: 228px;
  height: 302px;
}
.boxScreen #box .tShirt {
  position: absolute;
  top: 92px;
  right: 100px;
  width: 383px;
  height: 481px;
}
.boxScreen #box .tShirtText {
  position: absolute;
  top: 250px;
  right: 165px;
  width: 264px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.boxScreen #box .eye {
  opacity: 0;
  position: absolute;
  top: 270px;
  right: 233px;
  transition: opacity 0.3s;
}
.laptopScreen {
  background: #D5FD74;
}
.laptopScreen #laptop {
  position: absolute;
  width: 1352px;
  height: 783px;
  top: calc((100% - 783px) / 2);
  left: calc((100% - 1352px) / 2);
}
.laptopScreen #laptop .laptop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.laptopScreen #laptop .background {
  background: #FFFFFF;
  position: absolute;
  padding: 45px 65px;
  width: 980px;
  height: 680px;
  top: calc((100% - 680px) / 2);
  left: calc((100% - 980px) / 2);
}
.laptopScreen #laptop .background .laptopTextWrapper {
  font-size: 100px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.laptopScreen #laptop .background .laptopTextWrapper .laptopText {
  color: #333333;
}
.laptopScreen #laptop .background .laptopTextWrapper .laptopTextCaret {
  display: inline-block;
  border-left: 4px solid #7382EC;
  height: 1em;
  margin: 0 0 -0.15em -0.25em;
  animation: 1s linear 0s infinite caret;
}
.laptopScreen #laptop .background .eye {
  opacity: 0;
  position: absolute;
  top: calc((100% - 90px) / 2);
  left: calc((100% - 128px) / 2);
  transition: opacity 0.3s;
}
.footer {
  background: #7382EC;
  top: 0;
}
.footer .content {
  display: flex;
  flex-flow: column nowrap;
  gap: 60px;
  min-height: 700px;
  max-height: 700px;
  padding: 66px 54px 80px;
  color: #FFFFFF;
}
.footer .content .top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
}
.footer .content .main {
  display: flex;
  flex-flow: column nowrap;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
}
.footer .content .bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}
.footer .content .bottom .dots {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  margin-right: auto;
}
.footer .content .bottom .dots .dot {
  background: #D5FD74;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 50%;
}
.footer .content .bottom .privacy,
.footer .content .bottom .copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
@keyframes caret {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes prevFooter {
  0% {
    top: 0;
  }
  50% {
    top: -25px;
  }
  100% {
    top: 0;
  }
}
/*# sourceMappingURL=index.css.map */