body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100dvw;
  min-height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  overflow: hidden;
  font-family: 'Jost', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}
#hiddenContent {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  min-width: 1920px;
  min-height: 1080px;
  max-width: 1920px;
  max-height: 1080px;
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  #hiddenContent {
    min-width: 1080px;
    min-height: 1080px;
    max-width: 1080px;
    max-height: 1080px;
  }
}
@media (aspect-ratio < 0.75) {
  #hiddenContent {
    min-width: 320px;
    min-height: 568px;
    max-width: 320px;
    max-height: 568px;
  }
}
.button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-radius: 32px;
  gap: 26px;
  margin: 0;
  padding: 0 32px;
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  background: transparent;
}
.button.blue {
  color: #FFFFFF;
  background: #7382EC;
}
.button.white {
  background: #FFFFFF;
  color: #7382EC;
}
@media (aspect-ratio < 0.75) {
  .button {
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    padding: 0 10px;
  }
}
.button.big {
  height: 92px;
  padding: 0 85px;
  font-size: 40px;
  border-radius: 70px;
}
@media (aspect-ratio < 0.75) {
  .button.big {
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    padding: 0 50px;
  }
}
.eye {
  position: relative;
  background-color: #D5FD74;
  background-image: url(/media/image/eye.svg);
  background-position: 50% 10px;
  background-size: 50%;
  width: 128px;
  height: 90px;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 30px #D5FD74;
  cursor: pointer;
  transition: transform cubic-bezier(1, 1.06, 0.99, 0.78) 1.5s;
  z-index: 1000;
}
.eye:after {
  content: "посмотреть";
  color: #7382EC;
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 0;
}
@media (aspect-ratio < 0.75) {
  .eye {
    width: 62px;
    height: 44px;
  }
  .eye:after {
    display: none;
  }
}
.dots {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  margin-right: auto;
}
.dots .dot {
  background: #D5FD74;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 50%;
}
.headerWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transform-origin: top;
}
.headerWrapper .header {
  opacity: 0;
  transition: opacity 0.1s;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  padding: 32px 54px 0;
  min-width: 1920px;
  max-width: 1920px;
  transform-origin: top;
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  .headerWrapper .header {
    min-width: 1080px;
    max-width: 1080px;
  }
}
@media (aspect-ratio < 0.75) {
  .headerWrapper .header {
    padding: 20px 20px 0;
    min-width: 320px;
    max-width: 320px;
    justify-content: space-between;
  }
  .headerWrapper .header .contact {
    display: none;
  }
  .headerWrapper .header .about {
    display: none;
  }
}
.headerWrapper .header .logo {
  width: 147px;
  height: 16px;
  margin-right: 40px;
  cursor: pointer;
}
@media (aspect-ratio < 0.75) {
  .headerWrapper .header .logo {
    min-width: 130px;
    max-width: 14px;
  }
}
.headerWrapper .header .catalog {
  margin-right: auto;
  width: 200px;
}
.headerWrapper .header .catalog img {
  width: 32px;
  height: 32px;
}
@media (aspect-ratio < 0.75) {
  .headerWrapper .header .catalog img {
    width: 20px;
    height: 20px;
  }
}
@media (aspect-ratio < 0.75) {
  .headerWrapper .header .catalog {
    margin-right: 0;
    width: auto;
  }
  .headerWrapper .header .catalog span {
    display: none;
  }
}
.contentWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: -1;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100dvw;
  min-height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
}
.contentWrapper .content {
  opacity: 0;
  transition: opacity 0.1s;
  position: relative;
  min-width: 1920px;
  min-height: 1080px;
  max-width: 1920px;
  max-height: 1080px;
  transform-origin: bottom;
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  .contentWrapper .content {
    min-width: 1080px;
    min-height: 1080px;
    max-width: 1080px;
    max-height: 1080px;
  }
}
@media (aspect-ratio < 0.75) {
  .contentWrapper .content {
    min-width: 320px;
    min-height: 568px;
    max-width: 320px;
    max-height: 568px;
  }
}
.contentWrapper.center {
  align-items: center;
}
.contentWrapper.center .content {
  transform-origin: center;
}
.contentWrapper.top {
  align-items: flex-start;
}
.contentWrapper.top .content {
  transform-origin: top;
}
.modal {
  opacity: 1;
}
.modal .block {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  opacity: 0;
  position: absolute;
  background: #FFFFFF;
  bottom: 100%;
  border-radius: 16px;
  padding: 30px;
}
.modal .block .blockTitle {
  color: #7382EC;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.modal .block .blockContent {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.modal.open {
  z-index: 100;
  top: 0;
}
.modal:not(.open) {
  transition: z-index 0s 2s;
}
.modal.preloader {
  background: #7E7D77;
  transition: opacity 1s;
}
.modal.preloader:not(.open) {
  display: none;
  transition: opacity 1s, z-index 0s 2s;
}
.modal.preloader .preloaderImage {
  opacity: 0;
  position: absolute;
  width: 826px;
  height: 987px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.1s;
}
@media (aspect-ratio < 0.75) {
  .modal.preloader .preloaderImage {
    height: 351px;
    width: 294px;
  }
}
.modal.preloader .preloaderRound {
  position: absolute;
  background: #D5FD74;
  width: 2px;
  max-width: 890px;
  height: 2px;
  max-height: 890px;
  border-radius: 50%;
  top: calc(50% + 150px);
  left: calc(50% - 1px);
  transition: transform 0.5s;
}
@media (aspect-ratio < 0.75) {
  .modal.preloader .preloaderRound {
    width: 2px;
    max-width: 300px;
    height: 2px;
    max-height: 300px;
    top: calc(50% + 125px);
  }
}
.modal.preloader .preloaderVideo {
  width: 900px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}
@media (aspect-ratio < 0.75) {
  .modal.preloader .preloaderVideo {
    width: 100%;
    top: unset;
    bottom: 0;
  }
}
.modal.preloader .preloaderText {
  opacity: 0;
  position: absolute;
  color: #D5FD74;
  font-size: 142px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2.84px;
  text-transform: uppercase;
  top: calc((100% - 142px) / 2);
}
@media (aspect-ratio < 0.75) {
  .modal.preloader .preloaderText {
    font-size: 48px;
    letter-spacing: 0.96px;
    top: calc((100% - 48px) / 2);
  }
}
.modal.preloader .button {
  color: #333333;
  position: absolute;
  width: 382px;
  transform: translateX(-50%);
  left: 50%;
  bottom: -100px;
  transition: bottom 0.3s 0.3s, width 0.3s 0.3s;
}
@media (aspect-ratio < 0.75) {
  .modal.preloader .button {
    transition: bottom 0.3s, width 0.3s;
  }
}
.modal.preloader.videoEnd .preloaderVideo {
  opacity: 0;
}
.modal.preloader.videoEnd .preloaderImage {
  opacity: 1;
}
.modal.preloader.videoEnd .preloaderRound {
  transform: scale(445);
}
@media (aspect-ratio < 0.75) {
  .modal.preloader.videoEnd .preloaderRound {
    transform: scale(150);
  }
}
.modal.preloader.videoEnd .button {
  bottom: 310px;
}
@media (aspect-ratio < 0.75) {
  .modal.preloader.videoEnd .button {
    width: auto;
    bottom: 175px;
  }
}
.modal.menu {
  background: #7382EC;
  top: unset;
  bottom: 100%;
  transition: bottom 0.3s;
}
.modal.menu:not(.open) {
  transition: bottom 0.3s, z-index 0s 2s;
}
.modal.menu .headerWrapper {
  display: none;
}
.modal.menu .content {
  display: flex;
  flex-flow: row nowrap;
}
.modal.menu .navigator {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  color: #FFFFFF;
  font-size: 55px;
  font-weight: 600;
  line-height: 1.44;
  text-transform: uppercase;
  padding: 200px 135px 0 260px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s 0.3s;
}
.modal.menu .navigator .navButton {
  cursor: pointer;
  transition: opacity 0.2s;
}
.modal.menu .menuHintContentWrapper {
  background: #D5FD74;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100dvw;
  min-height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
}
.modal.menu .menuHintContentWrapper .menuHintContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 534px;
  min-height: 1080px;
  max-width: 534px;
  max-height: 1080px;
}
.modal.menu .menuHintContentWrapper .menuHintContent > img {
  max-width: 412px;
  max-height: 710px;
}
.modal.menu .menuHintContentWrapper.conference img {
  transform: rotate(25deg);
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper {
  position: relative;
  width: 412px;
  height: 550px;
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .box {
  position: absolute;
  bottom: 0;
  left: calc((100% - 412px) / 2);
  width: 412px;
  height: 284px;
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .badge {
  position: absolute;
  bottom: 145px;
  left: calc(((100% - 412px) / 2) + 80px);
  width: 100px;
  height: 110px;
  transform: rotate(-46deg);
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .note {
  position: absolute;
  bottom: 42px;
  left: calc(((100% - 412px) / 2) + 85px);
  width: 100px;
  height: 132px;
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .tShirt {
  position: absolute;
  bottom: 42px;
  right: calc(((100% - 412px) / 2) + 50px);
  width: 160px;
  height: 200px;
}
.modal.menu .menuHintContentWrapper.welcome .boxWrapper .boxCover {
  position: absolute;
  top: 0;
  left: calc((100% - 412px) / 2);
  width: 412px;
  height: 284px;
}
.modal.menu.open {
  top: unset;
  bottom: 0;
}
.modal.menu.open .headerWrapper {
  display: flex;
}
.modal.menu.open .navigator {
  max-height: 900px;
}
.modal.about {
  background: rgba(51, 51, 51, 0.4);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s;
}
.modal.about .headerWrapper {
  display: none;
}
.modal.about .block {
  width: 554px;
  height: 256px;
  right: 308px;
}
.modal.about:not(.open) {
  transition: opacity 0.3s, z-index 0s 2s;
}
.modal.about.open {
  opacity: 1;
}
.modal.about.open .block {
  opacity: 1;
  bottom: calc(100% - 256px - 114px);
  transition: opacity 0.2s 0.1s, bottom 0.3s;
}
.modal.about.open .headerWrapper {
  display: flex;
}
.modal.contact {
  background: rgba(51, 51, 51, 0.4);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s;
}
.modal.contact .headerWrapper {
  display: none;
}
.modal.contact .contact {
  margin-right: 32px;
}
.modal.contact .block {
  width: 554px;
  height: 276px;
  right: 86px;
}
.modal.contact:not(.open) {
  transition: opacity 0.3s, z-index 0s 2s;
}
.modal.contact.open {
  opacity: 1;
}
.modal.contact.open .block {
  opacity: 1;
  bottom: calc(100% - 276px - 114px);
  transition: opacity 0.2s 0.1s, bottom 0.3s;
}
.modal.contact.open .block .blockTitle {
  font-size: 40px;
  line-height: 1;
  text-transform: none;
}
.modal.contact.open .block .dots {
  margin-top: 20px;
}
.modal.contact.open .headerWrapper {
  display: flex;
}
.modal.product {
  background: #D5FD74;
  z-index: -100;
}
.modal.product .block {
  bottom: unset;
  left: -100%;
}
.modal.product .block .quiz,
.modal.product .block .mail {
  align-self: flex-start;
}
.modal.product .block .blockTitle {
  white-space: pre-wrap;
}
.modal.product .block .blockContent {
  width: 430px;
}
.modal.product .block .blockContent a {
  font-weight: 700;
}
.modal.product .block #infoBlock {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
.modal.product .block #quizBlock {
  display: none;
  flex-flow: column nowrap;
  gap: 20px;
}
.modal.product .back {
  position: absolute;
  left: -100%;
}
.modal.product .imageWrapper {
  position: absolute;
  width: 500px;
  height: 650px;
  top: -100%;
}
.modal.product .imageWrapper .img {
  position: absolute;
  top: -50%;
  left: -100%;
  transform: rotate(-32deg);
  transform-origin: bottom left;
  opacity: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: top 0.5s, left 0.5s, opacity 0.5s, transform 0.5s;
}
.modal.product .imageWrapper .img.badge img {
  width: 116%;
  transform: translateX(-5%);
}
.modal.product .imageWrapper .img.gift img {
  transform: translate(-2%, 2%);
}
.modal.product .imageWrapper .img.tShirt img {
  height: 104%;
  width: 110%;
  transform: translate(-9%, -1%);
}
.modal.product .imageWrapper .img.bag img {
  height: 109%;
  transform: translate(11%, -4%);
}
.modal.product .imageWrapper .img.apron img {
  height: 109%;
  transform: translate(32%, -4%);
}
.modal.product .imageWrapper .img.cup img {
  width: 143%;
  height: 106%;
  transform: translate(-16%, 4%);
}
.modal.product .imageWrapper .img.bottle img {
  height: 105%;
  transform: translate(66%, -3%) rotate(18deg);
}
.modal.product .imageWrapper .img.welcome .welcomeWrapper {
  width: 166%;
  transform: translate(-19%, 14%);
}
.modal.product .imageWrapper .img.welcome .welcomeWrapper .box {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.modal.product .imageWrapper .img.welcome .welcomeWrapper .badge {
  position: absolute;
  object-fit: contain;
  width: 190px;
  height: 200px;
  left: 123px;
  top: calc(50% - 114px);
  transform: translateY(-50%) rotate(-43deg);
}
.modal.product .imageWrapper .img.welcome .welcomeWrapper .note {
  position: absolute;
  object-fit: contain;
  width: 203px;
  height: 252px;
  left: 152px;
  bottom: calc(50% - 68px);
  transform: translateY(50%);
}
.modal.product .imageWrapper .img.welcome .welcomeWrapper .tShirt {
  position: absolute;
  object-fit: contain;
  width: 335px;
  height: 405px;
  right: 109px;
  top: calc(50% - 2px);
  transform: translateY(-50%);
}
.modal.product .imageWrapper .img.laptop:after {
  content: '';
  position: absolute;
  background: #F5F5F5;
  width: 138%;
  height: 71%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-48.5%, -37%);
}
.modal.product .imageWrapper .img.laptop img {
  width: 186%;
  height: 100%;
  transform: translate(-22%, 9%);
  object-fit: contain;
}
.modal.product .imageWrapper .img.active {
  top: 0;
  left: 0;
  opacity: 1;
  transform: none;
}
.modal.product .videoWrapper {
  position: absolute;
  width: 448px;
  height: 252px;
  border-radius: 16px;
  right: -100%;
  overflow: hidden;
}
.modal.product .videoWrapper:after {
  z-index: 2;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.25);
}
.modal.product .videoWrapper.empty {
  background: #333333;
}
.modal.product .videoWrapper video {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.modal.product .videoWrapper .play,
.modal.product .videoWrapper .download {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal.product .navigator {
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row nowrap;
  gap: 50px;
}
.modal.product .navigator .itemWrapper {
  position: relative;
}
.modal.product .navigator .itemWrapper.active:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #7382EC;
  top: 8px;
  right: 8px;
}
.modal.product .navigator .itemWrapper .item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.modal.product .navigator .itemWrapper .item.white {
  background: #FFFFFF;
}
.modal.product .navigator .itemWrapper .item.black {
  background: #333333;
}
.modal.product .navigator .itemWrapper .item > img {
  object-fit: contain;
  width: 70%;
  height: 70%;
}
.modal.product .navigator .itemWrapper .item > img.badge {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 32px;
  top: calc(50% - 12px);
  transform: translateY(-50%) rotate(-46deg);
}
.modal.product .navigator .itemWrapper .item > img.note {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 32px;
  bottom: calc(50% - 8px);
  transform: translateY(50%);
}
.modal.product .navigator .itemWrapper .item > img.tShirt {
  position: absolute;
  width: 41px;
  height: 41px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.modal.product .navigator .itemWrapper .item.badge img {
  transform: rotate(27deg);
}
.modal.product .navigator .itemWrapper .item.gift img {
  width: 60%;
  height: 60%;
}
.modal.product .navigator .itemWrapper .item.apron {
  align-items: flex-start;
}
.modal.product .navigator .itemWrapper .item.apron img {
  margin-top: 10px;
  width: 120%;
  height: 120%;
}
.modal.product .navigator .itemWrapper .item.bottle {
  align-items: flex-start;
}
.modal.product .navigator .itemWrapper .item.bottle img {
  margin-top: 20px;
  width: 110%;
  height: 110%;
}
.modal.product .navigator .itemWrapper .text {
  opacity: 0;
  margin-top: 8px;
  color: #333;
  text-align: center;
  font-size: 11px;
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
  transition: opacity 0.2s;
}
.modal.product .navigator .itemWrapper:hover .text {
  opacity: 1;
}
.modal.product:not(.open) {
  transition: none;
}
.modal.product.open {
  z-index: 100;
}
.modal.product.open .block {
  width: 554px;
  top: 180px;
  left: 318px;
  opacity: 1;
  transition: left 0.3s 1.1s;
}
.modal.product.open .back {
  bottom: 457px;
  left: 433px;
  transition: left 0.4s 1.2s;
}
.modal.product.open .imageWrapper {
  top: 128px;
  left: calc((100% - 500px) / 2);
  animation: 1s linear imageActivate;
}
@keyframes imageActivate {
  0% {
    top: -100%;
  }
  70% {
    top: 150px;
  }
  100% {
    top: 128px;
  }
}
.modal.product.open .videoWrapper {
  bottom: 350px;
  right: 370px;
  transition: right 0.5s 1.3s;
}
.modal.product.open .navigator {
  bottom: 84px;
  transition: bottom 0.3s 2s;
}
.modal.product.activeQuiz .imageWrapper,
.modal.product.activeVideo .imageWrapper {
  top: -100%;
  transition: top 1.2s;
}
.modal.product.activeQuiz .navigator,
.modal.product.activeVideo .navigator {
  bottom: -100%;
  transition: bottom 1.2s;
}
.modal.product.activeVideo .block {
  left: -100%;
  transition: left 1.2s;
}
.modal.product.activeVideo .back {
  bottom: calc(100% - 165px);
  transform: translateY(100%);
  transition: bottom 1.2s, transform 1.2s;
}
.modal.product.activeVideo .videoWrapper {
  width: 1040px;
  height: 586px;
  bottom: 247px;
  right: 440px;
  transition: width 1.2s, height 1.2s, bottom 1.2s, right 1.2s;
}
.modal.product.activeVideo .videoWrapper:after {
  display: none;
}
.modal.product.activeQuiz .block {
  transform: translateX(-50%);
  left: 50%;
  top: 272px;
  height: 614px !important;
  transition: transform 1.2s, left 1.2s, top 1.2s, height 1.2s;
}
.modal.product.activeQuiz .back {
  left: calc(50% - (554px / 2));
  bottom: calc(100% - 165px);
  transform: translateY(100%);
  transition: bottom 1.2s, left 1.2s, transform 1.2s;
}
.modal.product.activeQuiz .videoWrapper {
  right: -100%;
  transition: right 1.2s;
}
.modal.product.inactiveVideoOrQuiz .block {
  transition: transform 1.2s, left 1.2s, top 1.2s, height 1.2s;
}
.modal.product.inactiveVideoOrQuiz .back {
  transition: bottom 1.2s, left 1.2s, transform 1.2s;
}
.modal.product.inactiveVideoOrQuiz .imageWrapper {
  transition: top 1.2s;
}
.modal.product.inactiveVideoOrQuiz .navigator {
  transition: bottom 1.2s;
}
.modal.product.inactiveVideoOrQuiz .videoWrapper {
  transition: width 1.2s, height 1.2s, bottom 1.2s, right 1.2s;
}
.modal.hint {
  background: rgba(51, 51, 51, 0.4);
  backdrop-filter: blur(5px);
}
.modal.hint .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.hint .block {
  width: 554px;
  gap: 48px;
  padding-top: 48px;
}
.modal.hint .text {
  color: #333333;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.05;
  letter-spacing: 0.48px;
}
.modal.hint .mouse {
  width: 45px;
  height: 72px;
  align-self: center;
}
.modal.hint .eye {
  cursor: default;
  box-shadow: none;
  align-self: center;
}
.modal.hint .button {
  align-self: flex-start;
}
.modal.hint.open .block {
  position: relative;
  opacity: 1;
}
.firstScreen {
  background: #D5FD74;
}
.firstScreen .girl {
  position: absolute;
  width: 826px;
  height: 987px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.1s;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .girl {
    height: 351px;
    width: 294px;
  }
}
.firstScreen .layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.firstScreen .layer2 .text {
  position: absolute;
  color: #7382EC;
  font-size: 142px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2.84px;
  text-transform: uppercase;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .text {
    font-size: 48px;
    letter-spacing: 0.96px;
  }
}
.firstScreen .layer2 .text.choose {
  top: 206px;
  left: 50px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .text.choose {
    top: 83px;
    left: 20px;
  }
}
.firstScreen .layer2 .text.exactly {
  top: 348px;
  left: 184px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .text.exactly {
    display: none;
  }
}
.firstScreen .layer2 .text.that {
  top: 490px;
  left: 516px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .text.that {
    top: 131px;
    left: 79px;
  }
  .firstScreen .layer2 .text.that:after {
    position: absolute;
    content: ',';
    top: 0;
    right: -0.25em;
  }
}
.firstScreen .layer2 .text.you {
  bottom: 162px;
  right: 230px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .text.you {
    bottom: unset;
    top: 228px;
    right: 28px;
    z-index: -1;
  }
}
.firstScreen .layer2 .text.want {
  bottom: 304px;
  right: 230px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .text.want {
    bottom: unset;
    right: unset;
    top: 180px;
    left: 20px;
    z-index: -1;
  }
}
.firstScreen .layer2 .text.what {
  bottom: 446px;
  right: 442px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .text.what {
    bottom: unset;
    right: unset;
    top: 131px;
    left: 160px;
  }
}
.firstScreen .layer2 .img {
  position: absolute;
}
.firstScreen .layer2 .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.firstScreen .layer2 .img span {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .img span {
    font-size: 10px;
  }
}
.firstScreen .layer2 .img.bag {
  bottom: 42px;
  left: 387px;
  width: 319px;
  height: 550px;
  transform: rotate(36deg);
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .img.bag {
    bottom: 147px;
    left: 16px;
    width: 126px;
    height: 213px;
    transform: rotate(-14deg);
    z-index: -2;
  }
}
.firstScreen .layer2 .img.bag span {
  top: 225px;
  left: 36px;
  width: 156px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .img.bag span {
    top: 79px;
    left: 14px;
    width: 87px;
  }
}
.firstScreen .layer2 .img.gift {
  right: 175px;
  top: 280px;
  width: 248px;
  height: 317px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .img.gift {
    top: unset;
    right: 33px;
    bottom: 32px;
    width: 120px;
    height: 153px;
  }
}
.firstScreen .layer2 .img.gift span {
  color: #333333;
  top: 60px;
  left: 30px;
  width: 170px;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .img.gift span {
    top: 35px;
    left: 16px;
    width: 100px;
  }
}
.firstScreen .layer2 .button {
  position: absolute;
  bottom: 20px;
  width: 280px;
  left: 20px;
}
.firstScreen .layer2 .eye {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.firstScreen .layer2 .eye.badge {
  opacity: 1;
  z-index: auto;
  top: 198px;
  left: 683px;
  transition: transform cubic-bezier(1, 1.06, 0.99, 0.78) 1.5s, top 0.3s, left 0.3s, opacity 0.3s;
}
.firstScreen .layer2 .eye.gift {
  opacity: 1;
  z-index: auto;
  top: 424px;
  left: calc(100% - 365px);
  transition: transform cubic-bezier(1, 1.06, 0.99, 0.78) 1.5s, top 0.3s, left 0.3s, opacity 0.3s;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .eye.gift {
    left: calc(100% - 123px);
  }
}
.firstScreen .layer2 .eye.bag {
  opacity: 1;
  z-index: auto;
  top: calc(100% - 290px);
  left: 425px;
  transition: transform cubic-bezier(1, 1.06, 0.99, 0.78) 1.5s, top 0.3s, left 0.3s, opacity 0.3s;
}
@media (aspect-ratio < 0.75) {
  .firstScreen .layer2 .eye.bag {
    left: 36px;
    top: calc(100% - 280px);
  }
}
.secondScreen {
  background: #FFEFDF;
  transition: opacity 0.3s;
}
.secondScreen .girl {
  position: absolute;
  width: 826px;
  height: 987px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.1s;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .girl {
    height: 351px;
    width: 294px;
  }
}
.secondScreen .secondText {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #7382EC;
  font-size: 142px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2.84px;
  text-transform: uppercase;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .secondText {
    z-index: -1;
    font-size: 48px;
    letter-spacing: 0.96px;
  }
}
.secondScreen .secondText .create {
  position: absolute;
  top: 245px;
  left: 150px;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .secondText .create {
    top: 88px;
    left: 20px;
  }
}
.secondScreen .secondText .our {
  position: absolute;
  top: 394px;
  left: 393px;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .secondText .our {
    display: none;
  }
}
.secondScreen .secondText .design {
  position: absolute;
  top: 394px;
  right: 150px;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .secondText .design {
    top: 136px;
    right: 20px;
  }
}
.secondScreen .secondText .clothes {
  position: absolute;
  top: 536px;
  right: 200px;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .secondText .clothes {
    top: 184px;
    left: 20px;
    right: unset;
  }
}
.secondScreen .clothesImages {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.secondScreen .clothesImages .text {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .clothesImages .text {
    font-size: 10px;
  }
}
.secondScreen .clothesImages .tShirt {
  position: absolute;
  transform: rotate(5deg);
  bottom: -10px;
  left: 0;
  width: 593px;
  height: 737px;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .clothesImages .tShirt {
    height: 270px;
    width: 217px;
  }
}
.secondScreen .clothesImages .tShirtText {
  position: absolute;
  transform: rotate(5deg);
  bottom: 514px;
  left: 185px;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .clothesImages .tShirtText {
    bottom: 182px;
    left: 68px;
  }
}
.secondScreen .clothesImages .apron {
  position: absolute;
  transform: rotate(4deg);
  bottom: -267px;
  left: 690px;
  width: 459px;
  height: 1092px;
  mask-image: url(/media/image/girlMask.svg#mask1);
  -webkit-mask-image: url(/media/image/girlMask.svg#mask1);
}
@media (aspect-ratio < 0.75) {
  .secondScreen .clothesImages .apron {
    height: 428px;
    width: 180px;
    bottom: -132px;
    left: 275px;
  }
}
.secondScreen .clothesImages .apronText {
  position: absolute;
  transform: rotate(4deg);
  bottom: 515px;
  left: 855px;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .clothesImages .apronText {
    bottom: 174px;
    left: 337px;
  }
}
.secondScreen .eye {
  position: absolute;
  opacity: 0;
  z-index: -1;
  left: calc((100% - 128px) / 2);
  bottom: 430px;
}
@media (aspect-ratio < 0.75) {
  .secondScreen .eye {
    left: calc((100% - 65px) / 2);
    bottom: 158px;
  }
}
.cupScreen {
  background: #333333;
  transition: top 0.2s;
}
.cupScreen .cup {
  opacity: 0;
  position: absolute;
  width: 703px;
  height: 699px;
  top: 100%;
  left: calc((100% - 703px) / 2);
}
@media (aspect-ratio < 0.75) {
  .cupScreen .cup {
    width: 201px;
    height: 200px;
    left: calc((100% - 201px) / 2);
  }
}
.cupScreen .eye {
  opacity: 0;
  position: absolute;
  top: calc((100% - 90px) / 2);
  left: calc((100% - 128px) / 2);
  transition: transform cubic-bezier(1, 1.06, 0.99, 0.78) 1.5s, opacity 0.3s;
}
@media (aspect-ratio < 0.75) {
  .cupScreen .eye {
    top: calc((100% + 44px) / 2);
    left: calc((100% - 62px) / 2);
  }
}
.cupScreen .cupText {
  opacity: 0;
  position: absolute;
  color: #D5FD74;
  left: 100%;
  top: calc((100% - 142px) / 2);
  font-size: 142px;
  white-space: nowrap;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 2.84px;
  text-transform: uppercase;
}
@media (aspect-ratio < 0.75) {
  .cupScreen .cupText {
    font-size: 48px;
    top: calc((100% - 72px) / 2);
    letter-spacing: 0.96px;
    z-index: 2;
  }
}
.bottleScreen {
  background: #333333;
  transition: top 0.4s;
}
.bottleScreen .content {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.bottleScreen .background {
  position: relative;
  background: #FFFFFF;
  border-radius: 68px;
  overflow: hidden;
  width: 1812px;
  height: 940px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media (aspect-ratio < 0.75) {
  .bottleScreen .background {
    position: absolute;
    top: 70px;
    left: 20px;
    border-radius: 20px;
    width: 280px;
    height: 200%;
  }
}
.bottleScreen .background .bottle {
  width: 516px;
  height: 1638px;
  position: absolute;
  top: 80px;
  left: calc((100% - 516px) / 2);
}
@media (aspect-ratio < 0.75) {
  .bottleScreen .background .bottle {
    width: 200px;
    height: 635px;
    top: 10px;
    left: calc((100% - 200px) / 2);
  }
}
.bottleScreen .background .bottleText {
  opacity: 0;
  width: 960px;
  color: #333333;
  font-size: 100px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (aspect-ratio < 0.75) {
  .bottleScreen .background .bottleText {
    position: absolute;
    top: 183px;
    left: 44px;
    width: 196px;
    font-size: 32px;
    letter-spacing: unset;
  }
}
.bottleScreen .background .eye {
  opacity: 0;
  position: absolute;
  top: calc((100% - 90px) / 2);
  left: calc((100% - 128px) / 2);
  transition: transform cubic-bezier(1, 1.06, 0.99, 0.78) 1.5s, opacity 0.3s;
}
@media (aspect-ratio < 0.75) {
  .bottleScreen .background .eye {
    top: 252px;
    left: calc((100% - 62px) / 2);
  }
}
.boxScreen {
  background: #D5FD74;
  transition: top 0.4s;
}
.boxScreen #box {
  position: absolute;
  width: 965px;
  height: 665px;
  top: calc((100% - 665px) / 2);
  left: calc((100% - 965px) / 2);
  transform: scale(0);
  transition: opacity 0.3s;
}
@media (aspect-ratio < 0.75) {
  .boxScreen #box {
    width: 280px;
    height: 193px;
    top: calc((100% - 193px) / 2);
    left: calc((100% - 280px) / 2);
  }
}
.boxScreen #box .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.boxScreen #box .badge {
  position: absolute;
  top: 73px;
  left: 160px;
  width: 215px;
  height: 240px;
  transform: rotate(-46deg);
}
@media (aspect-ratio < 0.75) {
  .boxScreen #box .badge {
    top: 21px;
    left: 46px;
    width: 62px;
    height: 70px;
  }
}
.boxScreen #box .badge img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.boxScreen #box .badge span {
  position: absolute;
  color: #FFFFFF;
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
  font-size: 12px;
  transform: rotate(-26.5deg);
  top: 75px;
  left: 40px;
  width: 108px;
}
@media (aspect-ratio < 0.75) {
  .boxScreen #box .badge span {
    font-size: 2px;
    width: 13px;
    top: 27px;
    left: 12px;
  }
}
.boxScreen #box .note {
  position: absolute;
  bottom: 100px;
  left: 200px;
  width: 228px;
  height: 302px;
}
@media (aspect-ratio < 0.75) {
  .boxScreen #box .note {
    bottom: 29px;
    left: 58px;
    width: 66px;
    height: 87px;
  }
}
.boxScreen #box .tShirt {
  position: absolute;
  top: 92px;
  right: 100px;
  width: 383px;
  height: 481px;
}
@media (aspect-ratio < 0.75) {
  .boxScreen #box .tShirt {
    top: 28px;
    right: 29px;
    width: 111px;
    height: 139px;
  }
}
.boxScreen #box .tShirtText {
  position: absolute;
  top: 250px;
  right: 165px;
  width: 264px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.15;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media (aspect-ratio < 0.75) {
  .boxScreen #box .tShirtText {
    font-size: 10px;
    top: 68px;
    right: 42px;
    width: 87px;
  }
}
.boxScreen #box .eye {
  opacity: 0;
  position: absolute;
  top: 270px;
  right: 233px;
  transition: transform cubic-bezier(1, 1.06, 0.99, 0.78) 1.5s, opacity 0.3s;
}
@media (aspect-ratio < 0.75) {
  .boxScreen #box .eye {
    top: 76px;
    right: 54px;
  }
}
.laptopScreen {
  background: #D5FD74;
}
.laptopScreen #laptop {
  position: absolute;
  width: 1352px;
  height: 783px;
  top: calc((100% - 783px) / 2);
  left: calc((100% - 1352px) / 2);
}
.laptopScreen #laptop .laptop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.laptopScreen #laptop .background {
  background: #F5F5F5;
  position: absolute;
  padding: 45px 65px;
  width: 980px;
  height: 680px;
  top: calc((100% - 680px) / 2);
  left: calc((100% - 980px) / 2);
}
.laptopScreen #laptop .background .laptopTextWrapper {
  font-size: 100px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.laptopScreen #laptop .background .laptopTextWrapper .laptopText {
  color: #333333;
}
.laptopScreen #laptop .background .laptopTextWrapper .laptopTextCaret {
  display: inline-block;
  border-left: 4px solid #7382EC;
  height: 1em;
  margin: 0 0 -0.15em -0.25em;
  animation: 1s linear 0s infinite caret;
}
.laptopScreen #laptop .background .eye {
  opacity: 0;
  position: absolute;
  top: calc((100% - 90px) / 2);
  left: calc((100% - 128px) / 2);
  transition: transform cubic-bezier(1, 1.06, 0.99, 0.78) 1.5s, opacity 0.3s;
}
.footer {
  background: #7382EC;
  top: 0;
}
.footer .content {
  display: flex;
  flex-flow: column nowrap;
  gap: 60px;
  min-height: 700px;
  max-height: 700px;
  padding: 66px 54px 80px;
  color: #FFFFFF;
}
.footer .content .top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
}
.footer .content .main {
  display: flex;
  flex-flow: column nowrap;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
}
.footer .content .bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}
.footer .content .bottom .privacy,
.footer .content .bottom .copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  .horizontal {
    display: none;
  }
}
@media (aspect-ratio < 0.75) {
  .horizontal {
    display: none;
  }
}
@media (aspect-ratio >= 1.33) {
  .square {
    display: none;
  }
}
@media (aspect-ratio < 0.75) {
  .square {
    display: none;
  }
}
@media (aspect-ratio >= 1.33) {
  .vertical {
    display: none;
  }
}
@media (aspect-ratio < 1.33) and (aspect-ratio >= 0.75) {
  .vertical {
    display: none;
  }
}
@keyframes caret {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes prevFooter {
  0% {
    top: 0;
  }
  50% {
    top: -25px;
  }
  100% {
    top: 0;
  }
}
/*# sourceMappingURL=index.css.map */